@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

:root{
    --color-accent-400: rgb(250,8,67);
    --color-accent-100: rgb(153,3,40);

    --color-primary-400: rgb(0, 9, 44);

    --color-neutral-400: rgb(238, 238, 238);
    --color-neutral-100: rgb(255, 255, 255);

    --color-toggle-light: rgb(250,8,67);
    --color-toggle-dark:  rgb(29, 29, 29);
    --color-toggle-circle: rgb(255, 255, 255);

    --font-family-primary: 'Be Vietnam Pro', sans-serif;
    --font-family-body: var(--font-family-primary);
    --font-family-heading: 'Kanit', sans-serif;

    --font-weight-light: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-size-100: 14px;
    --font-size-200: 16px;
    --font-size-300: 18px;
    --font-size-400: 20px;
    --font-size-500: 24px;

    --font-size-body: var(--font-size-200);
    --font-size-nav: var(--font-size-100);
    --font-size-button: var(--font-size-300);
    --font-size-title: var(--font-size-400);
    --font-size-heading: var(--font-size-500);
}

@media (min-width: 50em){
    :root{

        --font-size-body: var(--font-size-300);
        --font-size-nav: var(--font-size-200);
    }
}

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
    font: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

.text-accent-400{ color: var(--color-accent-400); }
.text-accent-100{ color: var(--color-accent-100); }
.text-primary-400{ color: var(--color-primary-400); }
.text-neutral-400{ color: var(--color-neutral-400); }
.text-neutral-100{ color: var(--color-neutral-100); }

.bg-accent-400{ background-color: var(--color-accent-400); }
.bg-accent-100{ background-color: var(--color-accent-100); }
.bg-primary-400{ background-color: var(--color-primary-400); }
.bg-neutral-400{ background-color: var(--color-neutral-400); }
.bg-neutral-100{ background-color: var(--color-neutral-100); }

.fw-light{ font-weight: var(--font-weight-light);}
.fw-medium{ font-weight: var(--font-weight-medium);}
.fw-bold{ font-weight: var(--font-weight-bold);}

.fs-title { font-size: var(--font-size-title); }
.fs-heading { font-size: var(--font-size-heading); }
.fs-body { font-size: var(--font-size-body); }

body{
    background-color: var(--color-neutral-400);
}

/* Link Anchor */

.anchor{
    /* Positioning */
    position: relative;
    top:-200px;
}

/* Navigation Menu */

.top-container{
    /* Styling */
    background-color: var(--color-neutral-100);
    box-shadow: rgba(0, 0, 0, 0.13) 0px 48px 100px 0px;

    /* Positioning */
    z-index: 1;
    top: 0;
    width: 100%;
    position: fixed;
}

.primary-navigation{
    /* Positioning */
    position: center;
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list{
    /* Positioning */
    list-style-type: none;
    display: flex;
}

.name-logo{
    /* Styling */
    color: var(--color-primary-400);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-title);
    text-transform: uppercase;
}

.navigation-link{
    /* Styling */
    color: var(--color-accent-400);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-nav);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    /* Positioning */
    margin: 0px 16px;
    padding: 2px 15px;
    border-radius: 10px;

    /* Annimating */
    transition: all 0.5s ease-in-out;
}

.navigation-link:hover{
    /* Styling */
    background-color: var(--color-neutral-400);
}

.navigation-mode-toggle {
    /* Positioning */
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}
  
.navigation-mode-toggle input { 
    /* Positioning */
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    /* Styling */
    background-color: var(--color-toggle-light);
    border-radius: 34px;
    cursor: pointer;

    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* Annimating */
    transition: all 0.5s ease-in-out;
}
  
.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-toggle-circle);
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--color-toggle-dark);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--color-toggle-dark);
}
  
input:checked + .slider:before {
    transform: translateX(18px);
}

/*About me*/

.about-me{
    /* Positioning */
    margin-top: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me-box{
    /* Styling */
    text-align: center;
    background-color: var(--color-neutral-100);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    
    /* Positioning */
    max-width: 750px;
    min-width: 750px;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-title{
    /* Styling */
    color: var(--color-primary-400);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading);

    /* Positioning */
    margin-bottom: 10px;
}

.about-me-text{
    /* Styling */
    color: var(--color-primary-400);
    font-weight: var(--font-weight-medium);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    opacity: 80%;
}

.about-me-list{
    /* Styling */
    list-style-type: none;

    /* Positioning */
    max-width: 750px;
    min-width: 750px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-info-element{
    /* Styling */
    text-align: center;
    background-color: var(--color-neutral-100);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

    /* Positioning */
    z-index: -1;
    margin: 0px 16px;
    border-radius: 10px;
    min-width: 230px;
    max-width: 230px;
    min-height: 380px;
    max-height: 380px;
    padding: 20px 20px;
    
    /* Annimating */
    transition: all 0.5s ease-in-out;
}
.about-me-info-element-title{
    /* Styling */
    color: var(--color-primary-400);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-title);

    /* Positioning */
    padding: 40px 0px 5px 0px;
}

.about-me-info-element-body{
    /* Styling */
    color: var(--color-primary-400);
    font-weight: var(--font-weight-light);
    font-family: var(--font-family-body);
    font-size: var(--font-size-100);
    opacity: 80%;

    /* Positioning */
    padding: 20px 0px;

    /* Annimating */
    transition: all 0.5s ease-in-out;
}

.about-me-info-element-body:hover{
    /* Styling */
    color: var(--color-accent-100);
}

.about-me-info-element:hover{
    /* Annimating */
    color: var(--color-accent-100);
    transform: scale(1.1);
}

.about-me-link{
    /* Positioning */
    max-width: 750px;
    min-width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.about-me-link-element{
    /* Styling */
    font-size: var(--font-size-title);
    color: var(--color-accent-400);
    transform: scale(1.8);

    /* Positioning */
    margin: 0px 50px;
    text-decoration: none;
    padding: 0px 16px;

    /* Annimating */
    transition: all 0.7s ease-in-out;
}

.about-me-link-element:hover{
    /* Styling */
    color: var(--color-accent-100);
}

.about-me-resume-link{
    /* Styling */
    color: var(--color-accent-400);
    border: 2px solid var(--color-accent-400);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body);
    text-decoration: none;

    /* Positioning */
    margin: 0px 70px;
    padding: 2px 15px;
    border-radius: 10px;

    /* Annimating */
    transition: all 0.7s ease-in-out;
}

.about-me-resume-link:hover{
    /* Styling */
    border: 2px solid var(--color-accent-100);
    color: var(--color-accent-100);
}

/*Skills*/

.skills{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.skills-box{
    background-color: var(--color-neutral-100);
    padding: 20px 20px;
    border-radius: 10px;

    max-width: 750px;
    min-width: 750px;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Projects*/

.projects{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.projects-box{
    background-color: var(--color-neutral-100);
    padding: 20px 20px;
    border-radius: 10px;

    max-width: 750px;
    min-width: 750px;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Contact*/

.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-box{
    background-color: var(--color-neutral-100);
    padding: 20px 20px;
    border-radius: 10px;

    max-width: 750px;
    min-width: 750px;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}